<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241646649228-37n51a37a4i4q7kretv02jgqg6uukqmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241646649228-37n51a37a4i4q7kretv02jgqg6uukqmi</string>
	<key>API_KEY</key>
	<string>AIzaSyCXVT4ekSE_HNWhb0tPkb3dkoHnPg6rI3w</string>
	<key>GCM_SENDER_ID</key>
	<string>241646649228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iyeaaa.Reverie</string>
	<key>PROJECT_ID</key>
	<string>reverie-b8310</string>
	<key>STORAGE_BUCKET</key>
	<string>reverie-b8310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241646649228:ios:1c37a5951f402ee97f60a9</string>
</dict>
</plist>